---
const CERTIFICATES = [
  {
    title: "Constancia de Orden de Mérito",
    company: "UNMSM",
    image: "/certificates/constancia-merito.webp",
    link: "https://spsgd.unmsm.edu.pe/verifica/inicio.do?accion=goQr&nuAnn=A80E9A1F8B7E32A60623196871C932A1&nuEmi=559DCD684FC50275F044F224E4C99485&claveAccesoDoc=F4BF9580690BDB1AA141A6E0CFE0DA7E",
    description: "Formo parte del Quinto Superior, según el ranking de mi facultad."
  },
  {
    title: "Power Apps y Power Automate",
    company: "IDAT",
    image: "/certificates/Power Apps Y Power Automate.webp",
    link: "https://eva.idat.edu.pe/verificarconstanciasycertificados?codigo=CE-54283316-2025-IDAT",
    description: "Desarrollo de aplicaciones con Power Apps y automatización de procesos con Power Automate.",
  },
  {
    title: "Macros y Programación con Visual Basic",
    company: "IDAT",
    image: "/certificates/Macros y Programación con Visual Basic.webp",
    link: "https://eva.idat.edu.pe/verificarconstanciasycertificados?codigo=CE-40514180-2025-IDAT",
    description: "Excel avanzado con macros y programación en Visual Basic (VBA).",
  },
  {
    title: "Microsoft SQL Server II - Programación",
    company: "CEPS-UNI",
    image: "/certificates/Microsoft SQL Server II - Programación.webp",
    link: "http://matriculaceps.uni.edu.pe/SGM/Visualizacion/VerificarDocumento.aspx?t=HwYhVQLq0s1wqbJ+pvlSYQ==&c=k2KwHxJ1go9eNOJLdu6yHHzW3OgaVsx1wCMAtM/bPmSnYQPyuskwdeEZGnEldQSK",
    description: "Programación procedimental, funciones de usuario, variables locales, estructuras de control, control de errores, gestión de triggers.",
  },
  {
    title: "Python Data Analytics Developer",
    company: "CIBERTEC",
    image: "/certificates/cibertec.webp",
    link: "/certificates/cibertec.webp",
    description: "Programación en Python enfocado en el análisis de datos (Manejo de datos con Pandas y visualización con Matplotlib) e integración con Power BI.",
  },
  {
    title: "Análisis de datos con Microsoft Excel y Power BI",
    company: "Udemy",
    image: "/certificates/Análisis de datos con Microsoft Excel y Power BI.webp",
    link: "https://www.udemy.com/certificate/UC-542b36e9-7a29-44e7-86f3-b5041e1c3459/",
    description: "Tablas dinámicas, gráficos, segmentación de datos, Power Query, Power Pivot y DAX.",
  },
  {
    title: "Estadística descriptiva - RStudio y Python",
    company: "Udemy",
    image: "/certificates/Estadística descriptiva - RStudio y Python.webp",
    link: "https://www.udemy.com/certificate/UC-787faa5d-f02a-4d9a-a7b3-c9fae3b0bb31/",
    description: "Cálculo de estadísticos, elaboración de gráficos, técnicas de estadística en lenguaje R y Python.",
  },
  {
    title: "Microsoft SQL Server I - Implementación",
    company: "CEPS-UNI",
    image: "/certificates/Microsoft SQL Server I - Implementación.webp",
    link: "http://matriculaceps.uni.edu.pe/SGM/Visualizacion/VerificarDocumento.aspx?t=HwYhVQLq0s1wqbJ+pvlSYQ==&c=k2KwHxJ1go9eNOJLdu6yHPe13oL+nC1inFGanvl8iVG/V+ZCZ29U8AJhe1KLMXbZ",
    description: "Diseño, creación, consultas y subconsultas en base de datos.",
  },
  {
    title: "Bases de Datos",
    company: "Udemy",
    image: "/certificates/Bases de Datos.webp",
    link: "https://www.udemy.com/certificate/UC-ceeffb1b-4245-4fe7-8b28-51281d4d1425/",
    description: "Manejo de Base de Datos con MySQL",
  },
  {
    title: "Python Programming Basics",
    company: "Huawei",
    image: "/certificates/Python Programming Basics.webp",
    link: "http://localhost:4321/certificates/Python%20Programming%20Basics.webp",
    description: "Fundamentos de Python",
  },
  {
    title: "Programación paralela y concurrente con C++ Parte 2",
    company: "LinkedIn",
    image: "/certificates/Programación paralela y concurrente con C++ Parte 2.webp",
    link: "https://www.linkedin.com/learning/certificates/383c55818b810a4aa8f914fa7fca271e8722afb529e3b006b02ce41772074144",
    description: "Programación paralela y concurrente con C++ Parte 2.",
  },
  {
    title: "Parallel and Concurrent Programming con C++ Part 1",
    company: "LinkedIn",
    image: "/certificates/Programación paralela y concurrente con C++ Parte 1.webp",
    link: "https://www.linkedin.com/learning/certificates/6cdd8c6e4051111723ca3838f597e52247d8c86a7dec616a47ba239399330dee",
    description: "Programación paralela y concurrente con C++ Parte 1.",
  },
  {
    title: "Certified Scrum Fundamentals",
    company: "Instituto de Agilidad",
    image: "/certificates/Certified Scrum Fundamentals.webp",
    link: "http://localhost:4321/certificates/Certified%20Scrum%20Fundamentals.webp",
    description: "Aprendizaje del framwork Scrum para gestionar proyectos complejos de forma flexible y eficiente.",
  },
  {
    title: "Curso de Herramientas Informáticas",
    company: "CINFO UNMSM",
    image: "/certificates/Curso De Herramientas Informáticas.webp",
    link: "https://tramiteonline.unmsm.edu.pe/sgdfd/mcc/verifica/unmsm",
    description: "Manejo de heramientas de ofimática como Excel, Word y PowerPoint.",
  },
];
---
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
  {
    CERTIFICATES.map(({ title, company, image, link, description }) => (
      <div class="w-full max-w-sm bg-gray-200 border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <a href={image} target="_blank" rel="noopener noreferrer">
          <img
            class="rounded-t-lg w-full h-48 object-cover"
            src={image}
            alt={`Certificado ${title}`}
          />
        </a>
        <div class="p-5">
          <a href={link} target="_blank" rel="noopener noreferrer" class="certificate-title-link">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white transition-all duration-300">
              {title}
            </h5>
          </a>
          <p class="mb-2 text-sm font-medium text-green-700 dark:text-yellow-200/90">
            {company}
          </p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {description}
          </p>
        </div>
      </div>
    ))
  }
</div>

<style>
  .certificate-title-link:hover h5 {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }
</style>